#wraper{
    display: grid;
    grid-template-rows: 10% 90%;
    min-width: 600px;
    background-color: #e7d7c1;
    padding-bottom: 21.6%;
    margin-left: -1%;
    margin-top: -1%;

}
#content_wraper{
    
    text-align: center;
    margin-top: 1%;
}
label{
    display: block;
}
#top_header{
    height: 130%;
}

button{
    box-sizing: border-box;
    width: 60%;
    background-color: #8ea4d2;
    color: black;
    padding: 6%;
    margin-top: 7%;
}


#content{
    text-align: center;
    width: 18%;
    margin-left: 41%;
    
}

label{
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: small;
}

input{
    box-sizing: border-box;
    border: dashed #50514f 5px;
    width: 100%;
    padding: 6%;
    font-size: large;
    background-color: #e7d7c1;

}

#subtitle{
    margin-top: -6%;
    margin-bottom: 13%;
    font-size:x-large;
}

h1{
    font-size: 3pc;
}
#error_msg{
    color: red;
}

#create_count{
    color: black;
    text-decoration: none;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: small;
    text-decoration: underline;
    
}

a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

#subline{
    text-decoration: underline;
}